#name.error{
    border-color:red;
}
body{
    background-image: url('https://www.hdwallpapers.in/walls/abstract_color_background_picture_8016-wide.jpg');
    background-size: 100%;
    color: #FFFFFF;
    
}